{% extends 'base.html' %}

{% block title %}Политика конфиденциальности{% endblock %}

{% block content %}
    <section class="privacy-section">
        <div class="content">
            <h1>Политика конфиденциальности</h1>
            <div class="grid">
                <p>Настоящая Политика конфиденциальности принята и действует в АО «ТЦ «Измайловский» (далее — Оператор) и регулирует порядок обработки и использования персональных и других данных при использовании Сайта «izmaylovskiy.ru» (далее — Сайт).</p>
            <p>В соответствии с настоящей Политикой Оператор обрабатывает персональные и иные данные, полученные в результате использования Сайта от Пользователя.</p>
            <p>Используя Сайт, Пользователь дает свое согласие на использование и обработку своих персональных и иных данных на условиях, изложенных в настоящей Политике и иных Соглашениях, акцептуемых Пользователем при использовании Сайта.</p>

            <h2>1. Термины. Основные понятия</h2>
            <ul>
                <li><strong>1.1 «Сайт»</strong> — интернет-сайт, расположенный по адресу <a href="http://izmaylovskiy.ru">izmaylovskiy.ru</a>.</li>
                <li><strong>1.2 «Оператор»</strong> — АО «ТЦ «Измайловский», ИНН 7729749908, ОГРН 1137746795515.</li>
                <li><strong>1.3 «Пользователь»</strong> — лицо, использующее Сайт.</li>
                <li><strong>1.4 «Персональные данные»</strong> — любая информация, относящаяся к субъекту персональных данных (данные, которые Пользователь предоставил о себе при использовании Сайта).</li>
            </ul>

            <h2>2. Сбор и обработка персональных данных</h2>
            <p><strong>2.1</strong> Оператор осуществляет сбор и хранение только тех Персональных данных, которые требуются для оказания услуг Пользователю и для безопасной работы Сайта.</p>
            <p><strong>2.2</strong> Оператор также обрабатывает информацию, в том числе технические данные, которые автоматически передаются устройством Пользователя при использовании Сайта. К такой информации также относятся файлы «cookies», информация о браузере, дате и времени доступа, технические характеристики устройства, IP-адрес и т.д.</p>
            <p><strong>2.3</strong> Оператор использует Персональные данные исключительно в целях, для которых они были переданы Пользователем, в том числе в следующих целях:</p>
            <ul>
                <li><strong>2.3.1</strong> предоставление услуг Пользователю;</li>
                <li><strong>2.3.2</strong> взаимодействия с Пользователем, в том числе для оказания консультационной поддержки;</li>
                <li><strong>2.3.3</strong> идентификация Пользователя;</li>
                <li><strong>2.3.4</strong> пресечение нарушений и незаконных, несанкционированных действий Пользователей или третьих лиц;</li>
                <li><strong>2.3.5</strong> проведение маркетинговых и статистических мероприятий;</li>
                <li><strong>2.3.6</strong> соблюдение норм законодательства Российской Федерации;</li>
                <li><strong>2.3.7</strong> анализ данных с целью повышения качества предоставления услуг на Сайте;</li>
                <li><strong>2.3.8</strong> для иных целей с согласия Пользователя.</li>
            </ul>
            <p><strong>2.4</strong> При использовании Сайта Пользователь может вносить данные третьих лиц. Оператор не имеет доступа к обработке данных третьих лиц.</p>
            <p><strong>2.4.1</strong> Пользователь подтверждает, что получил согласие третьих лиц на размещение и использование их персональных данных. Наравне с этим Пользователь понимает и соглашается с тем, что самостоятельно обеспечивает соблюдение законодательства в отношении персональных данных третьих лиц и несёт за это ответственность.</p>

            <h2>3. Правовые основания и порядок обработки персональных данных</h2>
            <p><strong>3.1</strong> Оператор осуществляет обработку персональных данных Пользователя в соответствии с Конституцией Российской Федерации, Федеральным законом «О персональных данных» № 152-ФЗ от 27.07.2006 г. и локальными документами Оператора.</p>
            <p><strong>3.2</strong> В соответствии с п. 2 и 8 части 2 ст. 22 Федерального закона «О персональных данных» № 152-ФЗ от 27.07.2006 г. Оператор осуществляет обработку Персональных данных Пользователя без уведомления уполномоченного органа по защите прав субъектов персональных данных.</p>
            <p><strong>3.3</strong> Оператор сохраняет конфиденциальность в отношении Персональных и иных данных Пользователя, за исключением случаев, когда эти данные являются общедоступными.</p>
            <p><strong>3.4</strong> Оператор имеет право передавать Персональные и иные данные Пользователя без его согласия следующим лицам:</p>
            <ul>
                <li><strong>3.4.1</strong> государственным органам, в случае получения Оператором подобного запроса;</li>
                <li><strong>3.4.2</strong> партнёрам Оператора, с которыми у него заключён договор на оказание услуг по обработке данных. При этом Оператор обязуется проверить и удостовериться в безопасности передачи таких данных;</li>
                <li><strong>3.4.3</strong> иным лицам и/или в иных случаях, прямо указанных в действующем законодательстве Российской Федерации.</li>
            </ul>
            <p><strong>3.5</strong> Оператор обрабатывает Персональные данные Пользователя в следующих случаях:</p>
            <ul>
                <li><strong>3.5.1</strong> обработка осуществляется с согласия Пользователя;</li>
                <li><strong>3.5.2</strong> обработка необходима в целях исполнения условий настоящей Политики;</li>
                <li><strong>3.5.3</strong> обработка необходима в целях защиты и/или осуществления прав и интересов Оператора, а также третьих лиц при условии, что не нарушаются права и свободы субъекта Персональных данных;</li>
                <li><strong>3.5.4</strong> обработка необходима для исполнения возложенных на Оператора обязанностей законодательством Российской Федерации;</li>
            </ul>
            <p><strong>3.6</strong> Оператор не осуществляет обработку специальных категорий Персональных данных.</p>
            <p><strong>3.7</strong> Оператор осуществляет обработку Персональных данных без использования средств автоматизации в соответствии с федеральными законами или иными нормативными правовыми актами Российской Федерации, устанавливающими требования к обеспечению безопасности персональных данных при их обработке и к соблюдению прав субъектов персональных данных.</p>

            <h2>4. Защита персональных данных</h2>
            <p><strong>4.1</strong> Оператор осуществляет надлежащую защиту Персональных и иных данных, в соответствии с действующим законодательством. А также принимает все необходимые организационные, технические и правовые меры для защиты Персональных данных от случайного или неправомерного доступа.</p>
            <p><strong>4.2</strong> Меры для обеспечения безопасности персональных данных Оператор принимает, основываясь на законодательстве Российской Федерации о персональных данных, приоритете законных интересов Пользователей Сайта, актуальных угрозах и других принципах.</p>
            <p><strong>4.3</strong> Все сотрудники Оператора, имеющие доступ к персональным данным Пользователей, ознакомлены с настоящей Политикой и иными локальными актами, касающимися защиты Персональных данных.</p>

            <h2>5. Прекращение обработки персональных данных</h2>
            <p><strong>5.1</strong> Оператор прекращает обработку персональных данных Пользователя:</p>
            <ul>
                <li><strong>5.1.1</strong> по достижению целей обработки;</li>
                <li><strong>5.1.2</strong> по истечению срока действия согласия на обработку или в случае отзыва уже данного согласия;</li>
                <li><strong>5.1.3</strong> в случае, если нет правовых оснований для обработки;</li>
                <li><strong>5.1.4</strong> в случае ликвидации организации (Оператора).</li>
            </ul>

            <h2>6. Прочие условия</h2>
            <p><strong>6.1</strong> Оператор имеет право в любой момент изменять Политику конфиденциальности в одностороннем порядке без предварительного согласования с Пользователем. Такие изменения вступают в силу в день размещения новой редакции на Сайте.</p>
            <p><strong>6.2</strong> Пользователь обязуется самостоятельно ознакомиться с новой редакцией и следить за изменением настоящей Политики.</p>
            <p><strong>6.3</strong> При возникновении разногласий (споров) Пользователь должен направить претензию Оператору в письменном виде. Срок ответа на претензию составляет 30 (тридцать) рабочих дней с момента получения Оператором.</p>
            <p><strong>6.4</strong> При невозможности решения споров путём переговоров, они подлежат разрешению в соответствии с действующим законодательством по месту регистрации Оператора.</p>
            <p><strong>6.5</strong> Актуальная редакция настоящей Политики находится по адресу: <a href="https://izmaylovskiy.ru/privacy">https://izmaylovskiy.ru/privacy</a></p>

            <h2>8. Реквизиты</h2>
            <p>АО «ТЦ «Измайловский»</p>
            <p>Юридический адрес: 105043, ГОРОД МОСКВА, УЛ. ПЕРВОМАЙСКАЯ, ДОМ 42</p>
            <p>ИНН 7729749908</p>
            <p>ОГРН 1137746795515</p>
            </div>
            

        </div>
    </section>
{% endblock %}